
<span [innerHTML]="title" class="red"></span> 

<div>Id- {{firstContentItem.id}}</div>
        <div> Title- {{firstContentItem.title}}</div>
        <div>Body- {{firstContentItem.body}}</div>
        <div> Author-{{firstContentItem.author}}</div>
        <div class="image-wrapper">
            Image link is: <img src="{{ firstContentItem.imagelink }}">
          
          </div>
     
        <div> Type- {{firstContentItem.type}}</div>
        <div> Hashtags- {{firstContentItem.hashtags}}</div>


        <div>Id- {{secondContentItem.id}}</div>
        <div> Title- {{secondContentItem.title}}</div>
        <div>Body- {{secondContentItem.body}}</div>
        <div> Author-{{secondContentItem.author}}</div>
        <div class="image-wrapper">
            Image link is: <img src="{{ secondContentItem.imagelink }}">
          
          </div>
        <div> Type- {{secondContentItem.type}}</div>
        <div> Hashtags- {{secondContentItem.hashtags}}</div>

        <div>Id- {{thirdContentItem.id}}</div>
        <div> Title- {{thirdContentItem.title}}</div>
        <div>Body- {{thirdContentItem.body}}</div>
        <div> Author-{{thirdContentItem.author}}</div>
        <div class="image-wrapper">
            Image link is: <img src="{{ thirdContentItem.imagelink }}">
          
          </div>
        <div> Type- {{thirdContentItem.type}}</div>
        <div> Hashtags- {{thirdContentItem.hashtags}}</div>

        <div>Id- {{fourthContentItem.id}}</div>
        <div> Title- {{fourthContentItem.title}}</div>
        <div>Body- {{fourthContentItem.body}}</div>
        <div> Author-{{fourthContentItem.author}}</div>
        <div class="image-wrapper">
            Image link is: <img src="{{ fourthContentItem.imagelink }}">
          
          </div>
        <div> Type- {{fourthContentItem.type}}</div>
        <div> Hashtags- {{fourthContentItem.hashtags}}</div>

        <div>Id- {{fifthContentItem.id}}</div>
        <div> Title- {{fifthContentItem.title}}</div>
        <div>Body- {{fifthContentItem.body}}</div>
        <div> Author-{{fifthContentItem.author}}</div>
        <div class="image-wrapper">
            Image link is: <img src="{{ fifthContentItem.imagelink }}">
          
          </div>
        <div> Type- {{fifthContentItem.type}}</div>
        <div> Hashtags- {{fifthContentItem.hashtags}}</div>
