.image-wrapper{
    margin-top: 50px;
    text-align: center;}

    img{
        width: 200px;
        display:  block;
        margin: 0 auto;
      }

      span {
        background-color:chartreuse;
        display: inline-block;
      }