
<div class="contentItem-card-wrapper">
  <div class="contentItem-title">
   <header>{{contentItem?.title }}</header>
    <img class="contentItem-image" (click)="displayId()" src="{{contentItem?.imagelink }}">
    <div class="contentItem-body">
      <strong>Body:</strong> <br>
      {{contentItem?.body }}
    </div>
    <div class="contentItem-author">
      <strong>Authors:</strong> {{ contentItem?.author }}
    </div>
  
    </div>
    <div class="contentItem-type">
      <strong>Type:</strong> {{ contentItem?.type }}
    </div>
    <div class="contentItem-tags" *ngIf="contentItem?.hashtags">
      <h4>Tags:</h4>
      <div *ngFor="let tag of contentItem?.hashtags">
        {{ tag }}
      </div>
    </div>
  </div>