h1{
    text-align: center;
    color:maroon;
}

h2{
    text-align: center;
    color: aqua;
}
.Exist{
    color: green;
  }

  .not-Exist{
    color: red;
  }
.search-box{
    background-color: grey  ;
    border: 1px solid blue;
    width: 30%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: auto;
}
.noType{color: blueviolet;
    background-color:burlywood}

    .firstType{color: bisque;
        background-color:black}

        .secondType{color: blue;
            background-color:rgb(106, 224, 151)}

            .thirdType{color: rgb(224, 81, 81);
                background-color:rgb(69, 94, 205)}
